.manage-half{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage form{
    margin: auto;
}

.manage-half input{
    margin: 20px;
    padding: 10px;
    width: 550px;
    background-color: #b7e0d160;
    border-radius: 5px 5px 0 0;
    border: 0px;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.manage button{
    margin-top: 60px;
    width: 140px;
    background-color: rgb(32, 122, 70);
    color: white;
    border-radius: 4px;
    padding: 7px 15px;
}

.manage{
    margin-top: 100px;
}

.manage i{
    cursor:pointer
}

.table-body button{
    margin: 0;
    padding: 3px 1px;
}

td span{
    margin-left: 10px;
}

.user-display-name{
    text-transform: uppercase;

}

.all-services{
    padding-left: 80px;
}

.all-users{
    margin-top: 100px;  
}

.admin{
    background-color: aliceblue;
    color: gray;
    padding: 15px 40px;
    /* border-radius: 5px; */
    /* display: inline; */
    margin: 30px auto 80px;
    border: 0.3px solid rgb(177, 177, 177);
}